version: '{build}'
clone_folder: c:\projects\willdurand\negotiation
cache: '%LOCALAPPDATA%\Composer\files'
build: off

init:
- cmd: SET PATH=C:\Program Files\OpenSSL;c:\tools\php;c:\tools\php80;%PATH%

install:
- cmd: >-
    powershell.exe Set-Service wuauserv -StartupType Manual

    cinst -y OpenSSL.Light

    cinst -y php

    cd c:\tools\php80

    copy php.ini-production php.ini /Y

    echo date.timezone="UTC" >> php.ini

    echo extension_dir=ext >> php.ini

    echo extension=php_openssl.dll >> php.ini

    echo extension=php_mbstring.dll >> php.ini

    echo extension=php_fileinfo.dll >> php.ini

    echo memory_limit=1G >> php.ini

    cd c:\projects\willdurand\negotiation

    php -r "readfile('http://getcomposer.org/installer');" | php

    php composer.phar update --no-interaction --no-progress

test_script:
- cmd: >-
    cd c:\projects\willdurand\negotiation

    php composer.phar exec simple-phpunit --verbose
